@media only screen and (min-width: 993px) {
    .brand-logo {
        left:37%;
    }
}
.row {
    padding-top: 10px;
    margin-top: 10px;
}
.verify_false {
    color: red;
}
.verify_true {
    color: green;
}
.fa-qrcode {
    float: right;
}